<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TrainingDBEntities" connectionString="metadata=res://*/App_Code.DataBase.csdl|res://*/App_Code.DataBase.ssdl|res://*/App_Code.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT047053\SQLEXPRESS;initial catalog=TrainingDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TrainingDBEntities1" connectionString="metadata=res://*/App_Code.TrainingDB.csdl|res://*/App_Code.TrainingDB.ssdl|res://*/App_Code.TrainingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT047053\SQLEXPRESS;initial catalog=TrainingDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="serverBUEntitiesConnection" connectionString="metadata=res://*/App_Code.TrainingDBEntities1.csdl|res://*/App_Code.TrainingDBEntities1.ssdl|res://*/App_Code.TrainingDBEntities1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.169.218.21;initial catalog=serverBU;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TrainingDBConnectionString" connectionString="Data Source=it047053\sqlexpress;Initial Catalog=TrainingDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- Set Authentication Mode to Forms -->
    <authentication mode="Forms">
      <forms defaultUrl="~/Member/Home.aspx" loginUrl="~/Everyone/Login.aspx" slidingExpiration="true" timeout="20" />
    </authentication>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!-- Set Session variables to expire after 60 minutes -->
    <sessionState timeout="60" />
    <customErrors mode="Off" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>